body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#song-cover{
    height: 300px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 10px;
}

h2{
    color: rgb(0, 0, 0);
    margin: 10px;
    margin-bottom: 0px;
}

h3{
    color: rgb(128, 128, 128);
    margin: 0px;
    margin-bottom: 25px;
}

#colors{
    display: flex;
}

.color-squares{
    height: 100px;
    width: 100px;
}