<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicLights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <img id='song-cover' src="{{ cover }}">
    <h2>{{ name }}</h2>
    <h3>{{ artists }}</h3>
    <div id="colors">
        {% for i in range(5) %}
            <div id="color-{{ i + 1 }}" class="color-squares" style="background-color: rgb({{ color_palette[i][0] }}, {{ color_palette[i][1] }}, {{ color_palette[i][2] }});">
            </div>
        {% endfor %}
    </div>
</body>
</html>
